
<!-- 继承父模板 -->
{{extend './layout/main.html'}}
<!-- 填坑 -->

 {{block 'container'}} 
    <div class="container">
        <div class="page-header">
            <h1><a href="/">我的音乐</a><small>--编辑音乐</small><h1>
        </div>
    </div>
    <div class="container">
        <form id="form" method="post" action="">
            <div class="form-group">
                <label for="">歌曲标题</label>
                <input type="text" name="title" class="form-control" placeholder="请输入歌曲标题" value="{{music.title}}">
            </div>
            <div class="form-group">
                <label for="">歌曲时长</label>
                <input type="text" name="time" class="form-control" placeholder="请输入歌曲时长" value="{{music.time}}">
            </div>
            <div class="form-group">
                <label for="">歌手</label>
                <input type="text" name="singer" class="form-control" placeholder="请输入歌手姓名" value="{{music.singer}}">
            </div>
            <div class="form-group">
                <label for="">歌曲文件</label>
                <input type="file" name="file" value="">
                <input type="hidden" name=""  src="">
                <p class="help-block"></p>
            </div>
            <div class="form-group">
                <label for="">歌词文件</label>
                <input type="file" name="filelrc" value="">
                <input type="hidden" name=""  src="">
                <p class="help-block"></p>
            </div>
            <input type="hidden" name="id" value="{{music.id}}">
            <button type="submit" class="btn btn-success">完成编辑</button>

        </form>
    </div>

    <script type="text/javascript">
        var form = document.getElementById('form');

        form.addEventListener('submit',function(e){
            e.preventDefault();

            //上传文件
            var fd = new FormData();

            var inputs = document.querySelectorAll('input');
            var title = inputs[0].value;
            var time = inputs[1].value;
            var singer = inputs[2].value;

            var file = inputs[3].files[0];
            var filelrc = inputs[5].files[0];

            var id = inputs[7].value;

            fd.append('title',title);
            fd.append('time',time);
            fd.append('singer',singer);
            fd.append('file',file);
            fd.append('filelrc',filelrc);
            fd.append('id',id);

            $.ajax({
                 // 不需要其帮我设置该默认头=> enctype:"multipart/formdata"
                contentType:false,
                // 不需要转换请求体数据成键值对
                processData:false,
                type:'put',
                url:'/music/update',
                data:fd,
                success:function(res){
                    if(res.code==='001'){
                        var result = confirm('修改成功，去听歌？');
                        if(result){
                            window.location = '/music/index';
                        }
                    }else{
                        alert(res.msg);
                    }
                }
            });
        });
    </script>
{{/block}}